@import "../_var";

.main-page {
    .list-games {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .genres-wrapper {
        margin: 30px 0;
    }

    .genre-item {
        .transit();
        padding: 5px;
        border: 1px solid @greenColor;
        display: inline-block;
        margin-top: 5px;
        border-radius: 5px;

        &:hover,
        &.active {
            background: @greenColor;
            color: @whiteColor;
        }
    }

    .list-games {
        border-top: 2px solid @greenColor;
        border-bottom: 2px solid @greenColor;
        padding: 30px 0 20px;
    }
}
